// fonts

// colors

// breakpoints

@mixin full($pad: 0) {
  position: absolute;
  top: $pad;
  right: $pad;
  bottom: $pad;
  left: $pad;
}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin middle($axis: 'both') {
  position: relative; // TODO: this might disrupt els that needed absolute
  @if $axis == x {
    left: 50%;
    transform: translateX(-50%);
  }
  @else if $axis == y {
    top: 50%;
    transform: translateY(-50%);
  }
  @else if $axis == both {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin fade($duration: .5s, $delay: 0) {
  transition: opacity $duration, visibility $duration;
  transition-delay: $delay+s;
}

@mixin shadow($size) {
  @if $size == small {
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .75);
  } @else {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .25);
  }
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

p, h1, h2, {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

a {

}

button {
  
}

input, textarea {
  
}

.myscreen {
  @include full;
  width: 100%;
  height: 100%;
}

.testvideo {
  position: absolute;
  left: 100%;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.error {
  border: 1px solid red;
}

.no-pointer-events {
  // TODO: try to remomve important;
  pointer-events: none !important;
}

.no-animation {
  transition-duration: 0s !important;
}

.no-break {
  white-space: nowrap;
}

.buttons {
  position: absolute;
}

.myscreen.hidden, .buttons.hidden {
  display: none;
}

.scene {
  @include full;
}
